body {
    font-family: 'Arial', sans-serif;
    background-color: #EED8C0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calendar-navigation {
    text-align: center;
    margin-bottom: 20px;
}

.calendar-navigation button {
    margin: 0 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days for the week */
    grid-template-rows: auto; /* Auto rows for the amount of week in the month */
    gap: 5px;
    width: 70%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width */
}

.day-label {
    text-align: center;
    margin: 5px 0;
}

.day {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Example mood colors */
.good-mood { background-color: #98FB98; }
.mid-mood { background-color: #FFD700; }
.bad-mood { background-color: #FF6347; }
.not-completed { background-color: #D3D3D3; }

.day:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .calendar {
        width: 90%; /* Increase width on smaller screens */
    }
}
