* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background: #FFF5EA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    width: 100%; /* Use the full viewport width */
    max-width: 900px; /* Or the max width you prefer */
    height: 300px; /* Or the height you prefer */
    margin: auto; /* Center the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
}



.login-image-container {
    flex: 0 0 50%; /* Do not grow or shrink, start with 50% of the flex container */
    display: flex;
    align-items: center; /* Align image vertically */
    justify-content: center; /* Align image horizontally */
    padding: 20px; /* Provide some padding */
}

.login-form-container {
    flex: 1; /* Take up the other half */
    background: rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the form vertically as well */
}

.login-form-container h1 {
    margin-bottom: 30px; /* Increased bottom margin for the header */
    font-family: 'Merriweather', cursive;
    color: #333;
}

.login-form-container form {
    width: 100%;
    max-width: 400px; /* Maximum width of the form */
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],input[type="email"],
input[type="password"] {
    width: calc(100% - 30px); /* Full width minus padding */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc; /* Adding a border to match the design */
    background-color: #f5f3f0;
}

button {
    width: 50%;
    padding: 15px;
    margin: 20px 0; /* Add more vertical margin for spacing */
    border-radius: 30px;
    border: none;
    background-color: #A68B60;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8C7A50;
}

.divider {
    text-align: center;
    margin: 20px 0;
}

.google-login-button {
    background-color: #dd4b39;
    color: #fff;
    padding: 15px;
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    text-align: center;
}

.google-login-button:hover {
    background-color: #c53727;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
}

.signup {
    margin-top: 20px;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 90%;
    }

    .login-image {
        order: 2; /* Image goes below the form on small screens */
        height: 200px; /* Set a fixed height for the image area */
    }

    .login-form-container {
        order: 1; /* Form goes above the image on small screens */
        width: 100%; /* Form takes full width on small screens */
        max-width: none;
        padding: 20px;
    }
}

