{% extends 'base.html' %}
{% block content %}
    <h1 style="width: 100%">{% block title %} Register an Account {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="username">Username</label>
            <input type="text" name="username"
                   placeholder="Username">
            </input>
        </p>

        <p>
            <label for="password">Password</label>
            <input type="text" name="password"
                   placeholder="Password">
            </input>
        </p>

        <p>
            <label for="email">Email</label>
            <input type="text" name="email"
                   placeholder="Email">
            </input>
        </p>
        <div class="msg">{{ msg }}</div>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}